i {
    font-style: normal;
}

.app-orange-color {
    color: #fe980f;
}

.app-grey-color {
    color: #696763;
}

.app-soft-grey-color {
    color: #b2b2b2;
}

.app-red-color {
    color: #d00;
}

.app-category:hover {
    color: #fe980f !important;
}

.app-underline:hover {
    text-decoration: underline !important;
}

.app-button {
    margin-left: 0;
    -webkit-transition: background 300ms, color 300ms;
    transition: background 300ms, color 300ms;
}

.app-product-price, .app-product-amount {
    font-size: 1.5em;
    font-weight: bold;
}

.app-title-example {
    margin: 50px 0 0;
}

.app-form ::-webkit-input-placeholder {
    color: #555;
    font-weight: normal;
}

.app-form :focus::-webkit-input-placeholder {
    color: transparent;
}

.app-form ::-moz-placeholder {
    color: #333;
    font-weight: normal;
}

.app-form :focus::-moz-placeholder {
    color: transparent;
}

.app-form input[type="submit"] {
    width: 200px;
    -webkit-transition: background 300ms, color 300ms;
    transition: background 300ms, color 300ms;
}

.app-form label {
    margin: 10px 0 30px;
}

.app-form textarea {
    height: 200px;
    margin:0 0 10px;
    padding: 10px;
    font-weight: normal;
}

.app-form input[type="checkbox"] {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin:0 15px 0 0;
}

.app-ul {
    padding: 0;
    margin: 0 0 20px;
}

.app-ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.app-box {
    padding: 0 30px;
}

.app-blog-img-box img {
    width: 100%;
    height: 100%;
}

.app-blog-description-box {
    padding: 0 20px;
    height: 117px;
    overflow: auto;
}

.app-button-submit {
    background: #fe980f;
    color: #fff;
    border: 0 none;
    border-radius: 0;
    font-family: "Roboto",sans-serif;
}

.app-button-submit:hover {
    background: #fe980f;
    color: #fff;
}

.app-block {
    padding: 0 15px;
}

.app-admin-category-table tr th + th + th{
    width: 200px;
}

.app-admin-form .control-label {
    text-align: left;
    font-weight: normal;
}

.form-control[disabled] {
    background: #fff;
}

.app-admin-form option {
    padding: 7px 15px;
}

.app-admin-user-table tr th + th {
    width: 150px;
}

.app-admin-blog-table tr th + th +th +th +th +th {
    width: 100px;
}

.app-form-product-delete input[type="submit"] {
    width: 100px;
}